body{
    max-width:1000 px;
    margin:auto;
    font-family:Roboto;
}
       
div{
    margin-top:5px;
    padding:20px;
}

#background-image{
    background-image:url("img/book.jpg");
    height:200px;
    padding-top:50px;
    color:#fff;
    margin-top:25px;
}

.thumbnail{
    display:inline-block;
    height:auto;
    padding:1px;
    margin-bottom:5px;
    background-color:#800080;
    border:1px solid #a4a4a4;
    text-align:center;
    color:#666;
    margin:5px;
}

a{
    color:hotpink;
}