{% extends "main/index.html" %}
{% load static %}

{% block title %}Books{% endblock %}

{% block main-content %}
<center>
    <h1 class = "py-2" style="color:#2d3436; background-color:lightgray">Welcome To Books Panel</h1>
</center>

<div>
    <p><h3 style="color:#2d3436; background-color:#ffffff;">Recommended></h3></p>
</div>



<div class="container">
    <div class="row">

        {% for bk in page_obj %}
        
        <div class="col-lg-3 col-md-6 col-xl-2" style="text-align: center;">
            <a href="#" style="text-decoration: none; color:#2d3436;">
                <img src="{{bk.image.url}}" height="150" width="160" alt="{{bk.name}}" title="{{bk.name}}"/>
                <h5>{{bk.name}}</h5>
                <h6>{{bk.author}}</h6>
            </a>
        </div>
        
        
        {% endfor %}

    </div>

    <div class="container">
        <div class="row mt-5 mb-n2">
            <div class="col-12 text-center text-muted">
                <p><span>Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></p>
            </div>
        </div>
    
        <ul class="pagination pagination-sm mb-5 justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>

</div>
        

{% endblock %}