{% extends "main/index.html" %}
{% load static %}

{% block title %}Issued Books{% endblock %}

{% block main-content %}
    <center>
        <h2 class = "py-2 shadow-lg card-title" style="font-family:Comic Sans MS, cursive, sans-serif; color:#2d3436; background-color:lightgray;">Books Issued:</h2>
    </center>

    <center class="my-5">
        <div class="container p-3 mb-5">
            
            <table class="table table-hover table-responsive-sm table-striped table-dark rounded shadow-lg">
                <thead>
                    <tr>
                        <th scope="col">Book Id</th> 
                        <th scope="col">Book Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publication</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Submission Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    
                    <tr>
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.book.name}}</td>
                        <td>{{order.book.author}}</td>
                        <td>{{order.book.publication}}</td>
                        <td>{{order.book.edition}}</td>
                        <td>{{order.date_issued}}</td>
                        <td>{{order.last_date}}</td>
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
            
        </div>
    </center>
        
{% endblock %}