{% extends "main/index.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'main\logsign.css' %}">
   <link rel="stylesheet" href="{% static 'main\style.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block main-content %}
	
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card py-4" style="width: 400px;">
				<div class="d-flex justify-content-center">


					<h3 id="form-title">LOGIN</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							<input type="email" name="email" placeholder="Email..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

                </div>
                
                {% for message in messages %}
                    <p id="message">{{message}}</p>
                {% endfor %}
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links" style="color: white;">
						<a href="{% url 'password_reset' %}" id="logsign" class="ml-2">Forgot Password?</a>
					</div>
					<div class="d-flex justify-content-center links" style="color: white;">
						Don't have an account? <a href="{% url 'register' %}" id="logsign" class="ml-2">Sign Up</a>
					</div>
			
				</div>
			</div>
		</div>
	</div>

{% endblock %}