{% extends "main/index.html" %}
{% load static %}

{% block title %}PDFs{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main\style.css' %}">

    <style>
        body{
            background-color:#E6E6FA;
            font-family:"Comic Sans MS", cursive, sans-serif;
            
            --stripe: #cfd8dc;
            --bg: #e1e1e1;

            background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, var(--bg) 25%, transparent 25%),
                linear-gradient(45deg, var(--bg) 25%, transparent 25%);
            background-size: 100px 100px;
            background-color: var(--stripe);
            
            
            
        }
    </style>

{% endblock %}

{% block main-content %}
<center>
    <h1 class = "py-2 shadow-lg card-title" style="color:#2d3436; background-color:lightgray">Welcome To PDFs Panel</h1>
</center>


<div class="container my-5">
    <div class="row">
        {% for r in repeat %}
        {% for p in page_obj %}
        
        <div class="col-lg-3 col-md-6 col-xl-2" style="text-align: center;">
            <a href="{% url 'pdf' p.id %}" style="text-decoration: none; color:#2d3436;">
                <div class="card shadow my-3">
                    <img src="{{p.image.url}}" class="card-img-top img-responsive img-rounded grid-gutter-width" height="150" width="160" alt="{{p.name}}" title="{{p.name}}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <h6 class="card-text">{{p.author}}</h6>
                    </div>
                </div>
            </a>
        </div>
        
        {% endfor %}
        {% endfor %}
    </div>

    <div class="container">
        <div class="row mt-5 mb-n2">
            <div class="col-12 text-center text-muted">
                <p><span>Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></p>
            </div>
        </div>
    
        <ul class="pagination pagination-sm mb-5 justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}