{% extends "main/index.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main\style.css' %}">

{% endblock %}

{% block main-content %}

<div class="container-fluid mx-0 px-0" style="max-width: 100;">
    <img src="{{ user.cover_image.url }}" class="img-fluid mx-0 px-0" style="width: 100%; height: 300px; overflow-x: hidden;">
</div>                
<div class="container-fluid" style="margin: 0;">
    <div class="row media">
        <div class="col-6 col-md-4 my-5 text-center image-container" id="id_image_container" style="float: left; overflow-x: hidden;">
            <img src="{{ user.profile_image.url }}" class="m-auto mt-2 border border-dark rounded-circle img-fluid profile-image" id="id_profile_image_display" width="70%" height="70%">
            <a style="text-decoration: none;" href="{% url 'password_change' %}"><button type="button" class="btn btn-outline-dark btn-block btn-lg mt-4"><strong>Change Password</strong></button></a>
            <a style="text-decoration: none;" href="{% url 'update_profile' %}"><button type="button" class="btn btn-outline-info btn-block btn-lg mt-4"><strong>Update Profile</strong></button></a>
        </div>
        <div class="col-12 col-md-8 my-5 media-body" style="overflow-x: hidden">
            <table class="table table-borderless table-md h5">
                <thead>
                    <tr>
                        <th scope="col" class="text-primary">NAME: </th>
                        <th scope="col" class="text-success">{{ user.first_name }} {{ user.last_name }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-primary">ROLL NO.: </th>
                        <td class="text-success">{{ user.roll_no }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-primary">BRANCH: </th>
                        <td class="text-success">{{ user.branch }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-primary">YEAR: </th>
                        <td class="text-success">{{ user.year }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-primary">EMAIL ID: </th>
                        <td class="text-success">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-primary">NO. OF BOOKS ISSUED: </th>
                        <td class="text-success">{{ no_of_orders }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <a href="{% url 'issued_books' %}">
                                <button type="button" class="btn btn-outline-primary btn-lg mt-4"><strong>Issued Books</strong></button>
                            </a>
                        </th>
                        <td>
                            <a href="{% url 'upload_pdf' %}">
                                <button type="button" class="btn btn-outline-success btn-lg mt-4"><strong>Upload PDF</strong></button>
                             </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
       
    </div>
</div>
{% endblock %}