{% extends "main/index.html" %}
{% load static %}

{% block title %}Books{% endblock %}

{% block main-content %}
        
    <center>
        <div class="container-fluid my-4">
            <div class="row media">
                <div class="col-6 col-md-4" style="float: left; overflow-x: hidden;">
                    <img src="{{ bk_pg.image.url }}" class ="align-self-start mr-3" alt="Responsive Image" title="Book Image" height=225 width=240/>
                    
                </div>
                <div class="col-12 col-md-8 media-body" style="overflow-x: hidden;">
                    <table class="table table-borderless table-md h5">
                        <thead>
                            <tr>
                                <th scope="col" class="text-info">Name of the Book: </th>
                                <th scope="col" class="text-danger">{{ bk_pg.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-info">Author: </th>
                                <td class="text-danger">{{ bk_pg.author }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Publication: </th>
                                <td class="text-danger">{{ bk_pg.publication }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Edition: </th>
                                <td class="text-danger">{{ bk_pg.edition }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Description: </th>
                                <td class="text-danger">{{ bk_pg.description }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">No. of Copies Available: </th>
                                <td class="text-danger">5</td>
                            </tr>
                        </tbody>
                    </table>
                    <form action="{% url 'issue_book' bk_pg.id %}" method="POST">
                        {% csrf_token %}

                        {% if not issued %}
                        <button type="submit" id="issue" value="{{ bk_pg.id }}" class="btn btn-outline-dark btn-lg mt-4"><strong>Issue Book</strong></button>
                        {% else %}
                        <button type="submit" id="issue" value="{{ bk_pg.id }}" class="btn btn-outline-danger btn-lg mt-4"><strong>Cancel Book</strong></button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </center>
    
{% endblock %}