{% extends "main/index.html" %}
{% load static %}

{% block title %}Books{% endblock %}


{% block main-content %}
        
    <center>
        <div class="container-fluid my-4">
            <div class="row media">
                <div class="col-6 col-md-4" style="float: left; overflow-x: hidden;">
                    <img src="{{ p_pg.image.url }}" class ="align-self-start mr-3" alt="Responsive Image" title="Book Image" width=240 height=225/>
                    
                </div>
                <div class="col-12 col-md-8 media-body" style="overflow-x: hidden;">
                    <table class="table table-borderless table-md h5">
                        <thead>
                            <tr>
                                <th scope="col" class="text-info">Name of the Book: </th>
                                <th scope="col" class="text-danger">{{ p_pg.name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-info">Author: </th>
                                <td class="text-danger">{{ p_pg.author }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Publication: </th>
                                <td class="text-danger">{{ p_pg.publication }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Edition: </th>
                                <td class="text-danger">{{ p_pg.edition }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Description: </th>
                                <td class="text-danger">{{ p_pg.description }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">No. of Copies Available: </th>
                                <td class="text-danger">5</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    
                    <button type="button" class="btn btn-dark btn-lg fa fa-download mr-4" href="{{ p_pg.pdf_file.url }}"> Download</button>
                    <button type="button" class="btn btn-secondary btn-lg" href="#">Preview Pdf</button>
                </div>
            </div>
        </div>
        
    </center>
        
    
{% endblock %}